# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js
node_modules/
.next/
out/
dist/
build/

# Java / Spring Boot
target/
*.iml
.idea/
.project
.classpath
.settings/

# Environment
.env
*.env

# Package locks
package-lock.json
yarn.lock
pnpm-lock.yaml

# Don’t upload JDK binaries
backend/Oracle_JDK-24/
